.portfolio-page {
  min-height: 100vh;
  padding: 150px 0 0;
  // background-color: white;

  .portfolio-row {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }

  .portfolio-card {
    background-image: linear-gradient(45deg, #4e54c8 0%, #8f94fb 100%);
    border: none;
    color: white;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    height: 30vh;

    img {
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }

    &:hover .readMore:before {
      background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
    }

    &-header {
      padding: 3px;
      padding-right: 7px;
      text-align: right;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 17px;
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 50px;
    }

    .darken-image {
      filter: brightness(25%);
    }

    .button-row {
      margin-top: 7.5vh;
    }
  }

  .create-port-btn {
    margin-bottom: 20px;
  }
}

//card size
.portfolio-container {
  display: grid;
  row-gap: 10px;
  .portfolio-card {
    height: .6*510px;
    &-text {
      font-size: 22px;
    }
  }
}

//grid
@media (min-width: 768px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    .portfolio-card {
      &-text {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr;
  .portfolio-card {
    &-text {
      font-size: 18px;
    }
  }
  }
}

@media (min-width: 1200px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .portfolio-card {
      height: .5*510px;
      &-text {
        font-size: 16px;
      }
    }
  }
}